.question {
  display: flex;
  align-items: flex-start;
  font-size: var(--body-3);
}

.question-number {
  margin-right: 1rem;
}

.question-text {
  max-width: 75rem;
  font-weight: 500;
}

.options {
  max-width: 60rem;
}
